* {    
  margin: 0;
  box-sizing: border-box;
}

header{
    display:flex ;
    height: 100px;
    width: 100%;
    background-color: var(--amarillo);
}

header img{
    height: 100px;
    
}

#Titulo{
    display: flex;
    color: var(--blanco);
    align-items: center;
    font-size: 80px;
}