* {    
  margin: 0;
  box-sizing: border-box;
}

header{
    display:flex ;
    height: 100px;
    width: 100%;
    background-color: #F9CA4D;
}

header img{
    height: 100px;
    
}

#Titulo{
    display: flex;
    color: rgb(255, 255, 255);
    align-items: center;
    font-size: 80px;
}